.dropdown:hover>.dropdown-menu {
    display:block;
}

.footer {
    background-color: black;
    margin-top: 50px;
    font-size: 12px
}

.footerheader {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 40px;
}


